APP_ENV=production
APP_DEBUG=false
APP_URL=https://nama-aplikasi-anda.up.railway.app
APP_TIMEZONE=Asia/Jakarta

# Konfigurasi Database (Sesuaikan dengan kredensial database di Railway)
DB_HOST=
DB_PORT=3306
DB_DATABASE=panel
DB_USERNAME=pterodactyl
DB_PASSWORD=

# Konfigurasi Redis (Sesuaikan dengan kredensial Redis di Railway)
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
